[submodule "scene_merge"]
	path = scene_merge
	url = https://github.com/V-Sekai/godot-scene_merge-module.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/V-Sekai/godot-sqlite-module.git
[submodule "lottie"]
	path = lottie
	url = https://github.com/V-Sekai/godot-lottie-module.git
[submodule "renik"]
	path = renik
	url = https://github.com/V-Sekai/renik
[submodule "lasso"]
	path = lasso
	url = https://github.com/V-sekai/lasso