[submodule "scene_merge"]
	path = scene_merge
	url = https://github.com/V-Sekai/godot-scene_merge-module.git
[submodule "mesh_lod"]
	path = mesh_lod
	url = https://github.com/V-Sekai/godot-mesh_lod-module.git
[submodule "gltf"]
	path = gltf
	url = https://github.com/V-Sekai/godot-gltf-module.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/V-Sekai/godot-sqlite-module.git
[submodule "lottie"]
	path = lottie
	url = https://github.com/V-Sekai/godot-lottie-module.git
[submodule "json"]
	path = json
	url = https://github.com/V-Sekai/godot-json-module.git
[submodule "renik"]
	path = renik
	url = https://github.com/V-Sekai/renik
